{{#has tag="category"}}
  <a href="/tag/{{slug}}" class="col-xs-12 col-sm-4">
    <article class="category" style="background-image:url({{image}});">
      <h3 class="category-title">{{title}}</h3>
    </article>
  </a>
{{/has}}
