<section class="cover" style="background-image:url('{{image}}');">
  <div class="container main-container">
    <article class="main-article">
      <h1>{{title}}</h1>
      <hr>
      <p>
        {{content}}
      </p>
    </article>
    {{> socialChannels}}
  </div>
</section>
