<div class="footer-bg clearfix">
  <footer class="site-footer row">
    <div class="footer-body">
      <div class="col-sm-6 col-sm-offset-6">
        <section class="title">
          <h4>Contáctanos</h4>
        </section>

        <hr />
      </div>

      <div class="col-sm-6">
        <div class="footer-section business-address col-sm-6">
          <h5>Dirección</h5>
          <address>
            <a href="https://www.google.com.ec/maps/place/FABRICA+DE+EMBUTIDOS+Y+CAMAL+FRIGORIFICO+LOJA.-+CAFRILOSA/@-3.9761986,-79.2076037,18z/data=!4m7!1m4!3m3!1s0x91cb4873584f9839:0xdfff068d9d397086!2sGranada,+Loja!3b1!3m1!1s0x0000000000000000:0x2f6b50930e581295?hl=en" target="_blank">
              Av. Turunuma y Granada, junto al Terminal Terrestre.<br />
              Loja - Ecuador
            </a>
          </address>
          <span class="hidden-sm hidden-xs">
            <p>
              Visita nuestro delicatessen en Ciudadela Zamora
            </p>
            <address>
              Prol. 24 de mayo y segundo cueva celi
            </address>
          </span>
        </div>

        <div class="footer-section col-sm-6">
          <h5>Teléfonos</h5>
          <a href="tel:+59372613667">(07) 2 613 667</a><br />
          <a href="tel:+59372613590">(07) 2 613 590</a>
        </div>

        <div class="clearfix"></div>

        <div class="footer-section sales-phones col-sm-6">
          <h5>Línea directa a ventas</h5>
          <a href="tel:+59372613393">(07) 2 613 393</a>
        </div>

        <div class="footer-section col-sm-6">
          <h5>Email</h5>
          <a href="mailto:ventas@cafrilosa.com">ventas@cafrilosa.com</a>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="footer-section contact-form">
          <h5>Formulario de contacto</h5>
          <form>
            <div class="row">
              <div class="col-sm-4">
                <input type="text" name="name" placeholder="Nombre" class="form-control" required="required">
              </div>
              <div class="col-sm-8">
                <input type="email" name="email" placeholder="Email" class="form-control" required="required">
              </div>
            </div>
            <textarea name="message" rows="2" placeholder="Mensaje" class="form-control" required="required"></textarea>
            <input type="submit" name="submit" value="Enviar" class="btn btn-primary">
          </form>
        </div>
      </div>
    </div>

    <div class="footer-foot col-sm-12">
      <section class="copyright col-sm-6">
        Copyright {{date format="YYYY"}} &copy; Todos los derechos reservados. {{@blog.title}}.
      </section>
      <section class="poweredby col-sm-6">
        designed &amp; developed by <a href="http://noggalito.com" target="_blank">noggalito</a>
      </section>
    </div>
  </footer>

</div>
