<nav class="pagination" role="navigation">
  <ul id="pagination-list" class="page-number  pagination"></ul>
  {{!-- Placeholder for number of total pages --}}
  <div id="page-total" style="display:none;">{{pages}}</div>
  {{!-- Placeholder for current page --}}
  <div id="page-current" style="display:none;">{{page}}</div>
</nav>
