<section class="searchBox">
  <div class="container">
    <div class="box col-xs-12 col-sm-8">
      <div class="box-iconContainer">
        <i class="glyphicon glyphicon-search"></i>
      </div>
      <form class="box-input" action="#" method="post">
        <input type="text" name="name" value="" placeholder="Buscar…">
      </form>
    </div>
  </div>
</section>

<div class="gcse-hidden">{{{gcse}}}</div>
