<div class="gcse-hidden">{{{gcse}}}</div>

<section class="searchBox">
  <div class="box">
    <form class="box-input" action="#" method="post">
      <input type="text" name="name" value="" placeholder="Buscar..." autocomplete="off">
    </form>

    <i class="glyphicon glyphicon-search"></i>
  </div>
</section>
