{{!< default}}
{{#post}}
  {{> cover-page}}
  {{> searchBox}}

  <section class="contact-us-page">
    <div class="row first-row">
      <p class="container col-sm-6">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie, et aliquam erat laoreet. Sed sit amet arcu aliquet, molestie justo at, auctor nunc. Phasellus ligula ipsum.
      </p>

      <div class="cafrilosa-map col-sm-6"></div>
      <div class="hidden">
        <div class="cafrilosa-map-tooltip">
          <h4>{{@blog.title}}</h4>
          <a target="_blank" href="https://goo.gl/maps/zeHfX4ypT7p">ver en google maps</a>
        </div>
      </div>
    </div>

    <div class="row second-row">
      <div class="col-sm-offset-6"></div>

      <p class="text col-sm-6">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie, et aliquam erat laoreet. Sed sit amet arcu aliquet, molestie justo at, auctor nunc. Phasellus ligula ipsum.
      </p>

      <div class="delicatessen-img col-sm-6"></div>
    </div>

    <div class="clearfix"></div>

    <div class="find-us">
      <h2>Encuéntranos</h2>

      <hr>

      <div class="row">
        <div class="col-sm-6 col-sm-offset-6 trademark">
          <div class="business-logo">
            <img src="{{@blog.logo}}" />
          </div>

          <p class="close-to-you-copy">
            Puedes encontrarnos en varias partes del país. Siempre tratando de estar mucho más cerca de ti.
          </p>
        </div>

        <div class="col-sm-6 country-img">
          <img src="{{asset 'images/country.png'}}" alt="ubicación cafrilosa en el país - ecuador" />
        </div>
      </div>
    </div>
  </section>
{{/post}}
