{{!< default}}
{{#tag}}
  {{> cover-page}}
  {{> searchBox}}
{{/tag}}
<section class="u-paddingSection">
  <div class="container">
    {{#foreach posts}}
      {{> product}}
    {{/foreach}}
  </div>
  <div class="container">
    {{pagination}}
  </div>
</section>
